pilotojee7/pilotojee7-backend/src/wsdl/dadoscomarca/TiposSimples.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://schema.tjpe.jus.br/v01/tiposSimples" xmlns:tns="http://schema.tjpe.jus.br/v01/tiposSimples"
	attributeFormDefault="unqualified" elementFormDefault="unqualified">

	<xs:simpleType name="tsCodigoDiretoria">
		<xs:restriction base="xs:long" />
	</xs:simpleType>

	<xs:simpleType name="tsCodigoOrgaoJulgador">
		<xs:restriction base="xs:long" />
	</xs:simpleType>
	
	<xs:simpleType name="tsCodigoDiretoriaOrgaoJulgador">
		<xs:restriction base="xs:long" />
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoTipoEndereco">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoTipoLogradouro">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsNumeroEndereco">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsComplementoEndereco">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsCEPEndereco">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsLogradouroEndereco">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsBairroEndereco">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsNomeCidade">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsCodigoCNJComarca">
		<xs:restriction base="xs:long" />
	</xs:simpleType>

	<xs:simpleType name="tsCodigoJurisdicao">
		<xs:restriction base="xs:long" />
	</xs:simpleType>

	<xs:simpleType name="tsNomeComarca">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsCodigoComplemento">
		<xs:restriction base="xs:long" />
	</xs:simpleType>

	<xs:simpleType name="tsSiglaUnidadeFederativa">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsSiglaOrgaoExpedidor">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoUnidadeFederativa">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsAbreviaturaTipoLogradouro">
		<xs:restriction base="xs:string">
			<xs:maxLength value="5" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoTipoParte">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsNomePessoa">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsCPF">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsCNPJ">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsGenero">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
			<xs:enumeration value="M" />
			<xs:enumeration value="F" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoOrgaoExpedidor">
		<xs:restriction base="xs:string">
			<xs:maxLength value="125" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsRG">
		<xs:restriction base="xs:long" />
	</xs:simpleType>

	<xs:simpleType name="tsTipoErro">
		<xs:restriction base="xs:string">
			<xs:enumeration value="ErroSistema" />
			<xs:enumeration value="ErroNegocio" />
			<xs:enumeration value="ErroNaoCategorizado" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoDistribuidor">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoTipoPessoa">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoTipoObjeto">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoTipoVara">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoNatureza">
		<xs:restriction base="xs:string">
			<xs:maxLength value="125" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsNomeVara">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoEntrancia">
		<xs:restriction base="xs:string">
			<xs:maxLength value="120" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoTipoPolo">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsNomeMajoritarioPessoaJuridica">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsData">
		<xs:restriction base="xs:date">
			<xs:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}" />
		</xs:restriction>
	</xs:simpleType>


	<xs:simpleType name="tsNomePaiPessoaFisica">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsNomeMaePessoaFisica">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsResponsavelLegalPessoaFisica">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsNPUProcesso">
		<xs:restriction base="xs:string">
			<xs:maxLength value="20" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsValorCausaProcesso">
		<xs:restriction base="xs:double">
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoObjeto">
		<xs:restriction base="xs:string">
			<xs:maxLength value="250" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoAssunto">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoClasse">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsNomeDistribuidor">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoTipoDocumento">
		<xs:restriction base="xs:string">
			<xs:maxLength value="120" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoDocumento">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsNumeroDocumento">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoTipoPessoaJuridica">
		<xs:restriction base="xs:string">
			<xs:maxLength value="125" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsID">
		<xs:restriction base="xs:long">
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsLoadDependencies">
		<xs:restriction base="xs:boolean">
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsFirstRecordNumber">
		<xs:restriction base="xs:int">
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsRecordCount">
		<xs:restriction base="xs:int">
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoCargo">
		<xs:restriction base="xs:string">
			<xs:maxLength value="30" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsSubstitutoCargo">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
			<xs:enumeration value="S" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoCondicaoExercicio">
		<xs:restriction base="xs:string">
			<xs:maxLength value="60" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoAreaAtuacao">
		<xs:restriction base="xs:string">
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsJuizadoAreaAtuacao">
		<xs:restriction base="xs:string">
			<xs:maxLength value="1" />
			<xs:enumeration value="S" />
			<xs:enumeration value="N" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsEspecializacaoAreaAtuacao">
		<xs:restriction base="xs:int">
			<xs:enumeration value="1" />
			<xs:enumeration value="2" />
			<xs:enumeration value="3" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsCodigoCNJMagistrado">
		<xs:restriction base="xs:long">
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsCodigoPrimeiroGrau">
		<xs:restriction base="xs:long">
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsCodigoUnidadeCartoraria">
		<xs:restriction base="xs:long">
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsNumeroOrigem">
		<xs:restriction base="xs:long">
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoEstadoCivil">
		<xs:restriction base="xs:string">
			<xs:maxLength value="15" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoJuizado">
		<xs:restriction base="xs:string">
			<xs:maxLength value="75" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="tsDescricaoProfissao">
		<xs:restriction base="xs:string">
			<xs:maxLength value="75" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsNomeTipoJuizado">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsDescricaoUnidadeOrigem">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsNomeOrgaoJulgador">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>		
	
	<xs:simpleType name="tsNomeGabinete">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>		
	
	<xs:simpleType name="tsNomeSimplesVara">
		<xs:restriction base="xs:string">
			<xs:maxLength value="25" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsNomeDiretoria">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>		
	
	<xs:simpleType name="tsNomeAreaAtuacaoJuizado">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>		

	<xs:simpleType name="tsCodigoTribunal">
		<xs:restriction base="xs:long" />
	</xs:simpleType>
	
	<xs:simpleType name="tsNomeTribunal">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsSiglaTribunal">
		<xs:restriction base="xs:string">
			<xs:maxLength value="8" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="tsRegiaoMetropolitana">
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>	
	
	<xs:simpleType name="tsDescricaoFeriado">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>	
	
	<xs:simpleType name="tsEsferaFeriado">
        <xs:restriction base="xs:string">
        	<xs:maxLength value="1" />
            <xs:enumeration value="M"/>
            <xs:enumeration value="E"/>
            <xs:enumeration value="N"/>
        </xs:restriction>
    </xs:simpleType>
    
	<xs:simpleType name="tsDataFixa">
        <xs:restriction base="xs:string">
        	<xs:maxLength value="1" />
            <xs:enumeration value="S"/>
            <xs:enumeration value="N"/>
        </xs:restriction>
    </xs:simpleType>
    
	<xs:simpleType name="tsDescricaoForum">
		<xs:restriction base="xs:string">
			<xs:maxLength value="200" />
		</xs:restriction>
	</xs:simpleType>    
    
</xs:schema>